<h1 class="m-3">All available Cars</h1>

<p class="m-5" id="notice"><%= notice %></p>

<h2> <%= link_to 'Add a new car', new_car_path, class: 'btn-lg btn-info
  text-decoration-none m-3' %> </h2>
<div class="row">
  <% @cars.each do |car| %>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card m-3">
        <div class="card-body text-center">
          <h3>  <%= link_to car.model , car_path(car), class: 'text-decoration-none'  %> </h3>
        </div>
      </div>
    </div>
  <% end %>
</div>

